@{
    Layout = "_Layout";
}



@model List<ShowProducts.Models.Category>

<h2>Categories</h2>
<table class="table table-bordered table table-responsive table-primary table-hover">

    <thead>
        <tr>
            <td>Id</td>
            <td>title  </td>
            <th scope="col">Operation</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-controller="Category">Delete</a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id" asp-controller="Category">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table> 
<a asp-action="Create" class="btn btn-success">Add new Category</a>
