<div class="container px-5 my-5">
    <form method="post" asp-action="CreateProduct">
        <div class="form-floating mb-3">
            <input class="form-control" name="name" id="name" type="text" placeholder="Name" data-sb-validations="required" />
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="price" id="price" type="text" placeholder="Price" data-sb-validations="required" />
            <label for="price">Price</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="quantity" id="quantity" type="text" placeholder="Quantity" data-sb-validations="required" />
            <label for="quantity">Quantity</label>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>